/*
brown: D7C37A;
green: 55A44E;
*/
*{
	font-family: 'Montserrat', sans-serif;
}
/*DISEÑO NAVBAR*/
.navbar-inverse{
	background-color: transparent;
	border: none;
}
.navbar-inverse .navbar-nav>li>a{
	color: white;
}
/*DISEÑO SECTION 1*/
.first-section{
	background-image: url(../img/portada.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}
.first-section h1{
	padding-top: 3em;
	color: #D7C37A;
	font-weight: 700;
	font-size: 60px;
}
.first-section p{
	color: white;
	text-align: justify;
}
.first-section button{
	background-color: #55A44E;
	color: white;
	padding: 10px 16px;
	border-radius: 8px;
}
/*DISEÑO SECTION 2*/
.second-section{
	background-color: white;
	padding: 50px 20px;
	min-height: 100vh;
}
.second-section .caja-texto{
	padding-top: 140px;
}
.second-section .caja-texto h2, h3, a{
	color: #A89F68;
}
/*DISEÑO SECTION 3*/
.third-section{
	background-color: #D7C37A;
	padding: 70px 20px;
	color: white;
}
.third-section .caja-texto h2{
	color: #55A44E;
	font-size: 1,5rem;
	font-weight: 700;
}
.third-section .caja-texto h2 small{
	color: white;
}
.third-section button{
	background-color: #55A44E;
	color: white;
	padding: 10px 16px;
	border-radius: 8px;
}
/*DISEÑO SECTION 4*/
.fourth-section{
	background-image: url(../img/all.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 70px;
	color: white;
}
.fourth-section .caja-texto h2 small, .fourth-section .caja-texto p{
	color: white;
}